bucket         = "REPLACE-WITH-YOUR-BOOTSTRAPPED-TFSTATE-BUCKET"
key            = "bitcoin-pipeline/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "terraform-locks"
encrypt        = true
